ChallengeResponseAuthentication no
PasswordAuthentication no
UsePAM yes

Subsystem sftp    /run/dojo/libexec/sftp-server

Match User hacker
      AuthorizedKeysCommand /opt/sshd/auth.py hacker
      AuthorizedKeysCommandUser root
      X11Forwarding no
      AllowTcpForwarding no

Match User rl_*
      AuthorizedKeysCommand /opt/sshd/auth.py %u
      AuthorizedKeysCommandUser root
      X11Forwarding no
      AllowTcpForwarding no
